
.exercise {

    align-content: center;
    justify-content: center;
    left-margin: 20%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    overflow: auto;

}

.title {
    justify-content: center;
}

.answer-buttons {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}